*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.body{
    background-color: rgb(37, 41, 40);
}
.div1{
    width: 20%;
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: rgb(157, 157, 180);
    margin: auto;
    margin-top: 90px;
    border-radius: 20px;
    
}
.ul1{
    
    display: flex;
    flex-direction: column;
    
}
.h1{
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
  
}
.email{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 7px;
    height: 22px;
    margin-top: 5px;
    outline: none;
    padding: 20px;
}
#password{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    height: 22px;
    margin-top: 7px;
    outline: none;
    padding: 20px;
}
.submit{
    cursor: pointer;
    background-color: rgb(104, 104, 112);
    border: 1px solid rgb(107, 81, 81);
    
    border-radius: 10px;
    height: 22px;
    margin-top: 10px;
    /*box-shadow: 2px 1px 10px 1px rgb(104, 91, 91);  */  
}
.submit:hover{
    box-shadow: 2px 1px 5px 1px rgb(138, 144, 145) ;
}
.checkbox{
    font-size: 10px;
}
.Forgotpassword{
    font-size: 10px;
}
.paragrab{
    font-size: 10px;
    cursor: pointer;
}



